#login-screen {
  width: 100%;
  padding: 100px 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 30%);
}

#login-screen__greeting {
  font-size: 60px;
  font-weight: 600;
  margin-bottom: 30px;
}

#login-form {
  padding: 20px 0px;
  width: 670px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#login-form input:first-child {
  color: white;
  font-size: 50px;
  width: 100%;
  text-align: center;
  border: none;
  background-color: transparent;
  border-bottom: 2px solid white;
  margin-bottom: 20px;
}

#login-form input:last-child {
  cursor: pointer;
  width: 100px;
  padding: 10px 15px;
  background-color: transparent;
  border: 2px solid white;
  border-radius: 30px;
  color: white;
  font-size: 15px;
}
